body {
  margin: 0;
  padding: 0;
  min-width: 750px;
}

.btn {
  padding: 10px 15px;
  cursor: pointer;
}
.active {
  background: black;
  color: white;
}

/* css-2 active isimli bir class için arkaplan'ı siyah yapın, yazılar beyaz olsun */

header {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
}

header h2 {
  text-align: left;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  padding: 15px 20px;
  border: 1px solid black;
  background-color: gray;
  color: white;
  text-decoration: none;
}

.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  aspect-ratio: 4/3;
  width: 80%;
  margin: 5% auto;
  background: gray;
  text-align: center;
}

.projects-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  text-align: center;
}

.projects-item {
  width: 30%;
}

.projects-item img {
  width: 100%;
  height: auto;
  background: gray;
  aspect-ratio: 1/1;
}

footer {
  width: 100%;
  background: gray;
  padding: 20px 0;
}

footer button {
  margin: 20px auto;
  display: block;
}
